/*
=============== 
Quiz App
===============
*/
.main-quiz {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz {
  width: 90vw;
  max-width: var(--max-width);
  margin: 4rem auto;
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 3rem;
}
.quiz-small {
  max-width: 500px;
}
.container-quiz h2 {
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.5;
  text-transform: none;
}
.answer-btn-quiz {
  display: block;
  width: 100%;
  margin: 0.75rem auto;
  background: var(--clr-primary-7);
  border-radius: var(--radius);
  border-color: transparent;
  color: var(--clr-black);
  letter-spacing: var(--spacing);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 0;
  transition: var(--transition);
}
@media screen and (min-width: 576px) {
  .answer-btn-quiz {
    max-width: 60%;
  }
}
.answer-btn-quiz:hover {
  background: var(--clr-primary-5);
  color: var(--clr-white);
}
.correct-answers-quiz {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: right;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  color: var(--clr-green-dark);
}
.next-question-quiz,
.close-btn-quiz,
.submit-btn-quiz {
  border-radius: var(--radius);
  border-color: transparent;
  padding: 0.25rem 0.5rem;
  display: block;
  width: 35%;
  margin-left: auto;
  margin-top: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: var(--spacing);
  font-size: 1rem;
  background: #ffb100;
  color: var(--clr-black);
  transition: var(--transition);
  cursor: pointer;
}
.next-question-quiz:hover {
  background: #805900;
  color: #ffb100;
}
/*
=============== 
Form
===============
*/

.setup-form-quiz h2 {
  margin-bottom: 2rem;
}
.form-control-quiz {
  margin-bottom: 2rem;
}
.form-control-quiz label {
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--clr-grey-3);
  margin-bottom: 0.5rem;
}
.form-input-quiz {
  border: none;
  background: var(--clr-grey-10);
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
  border-radius: var(--radius);
}
.error-quiz {
  color: var(--clr-red-dark);
  text-transform: capitalize;
}
.submit-btn-quiz {
  width: 100%;
  margin-top: 3rem;
}
/*
=============== 
Loading
===============
*/
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading-quiz {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

.modal-container-quiz {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: var(--transition);
  z-index: -1;
}
.isOpen {
  opacity: 1;
  z-index: 999;
}

.modal-content-quiz {
  background: var(--clr-white);
  width: 90vw;
  max-width: var(--fixed-width);
  padding: 3rem;
  border-radius: var(--radius);
  text-align: center;
  position: relative;
}
.modal-content-quiz p {
  font-size: 1.5rem;
  text-transform: none;
}
.close-btn-quiz {
  margin-right: auto;
}
